{% extends "base.njk" %}

{% block content %}

<h1>FR Here's your generated privacy form</h1>

<a target="_blank" href="email-link">email yourself a link to your answers</a>
&nbsp; &nbsp;
<a href={{ "documents/" + docxFilename }}>Download Word document</a>
&nbsp; &nbsp;
<a href="agreement-1?lang=en">English agreement</a> 

<p style="margin-top: 30px">
    You might need to check it for punctuation and spelling before you 
    <a target="_blank" href="https://atip-aiprp.apps.gc.ca/atip/welcome.do">send it to your ATIP office</a>.
</p>

<div style="display: none">start of agreement</div>

<hr style="margin-top: 40px"/>

<p style="margin-top: 40px">
    [Put your agreement in an exisiting privacy form template to add the <a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/federal-identity-program/technical-specifications/stationery/letterhead-flag-symbol.html">Canadian flag symbol signature</a>.]
</p>

<h2>FR DRAFT Research Participant Agreement to send to your ATIP office</h2>

<div>
    <p>
        For any questions about this research, please contact:
        <br>
        <strong>{{ defaultValue("researcher_name") }}</strong>
        <br>
        <strong>{{ defaultValue("researcher_phone") }}</strong>
        <br>
        <strong>{{ defaultValue("researcher_email") }}</strong>
    </p>

    <p>
    Thank you for volunteering to talk to us.
    We work with the Canadian Digital Service (CDS).
    {% if data.is_with_partner == "Yes" %}
      We are working with {{ defaultValue("partner_department_name_fr") }} ({{ defaultValue("partner_department_acronym_fr") }}) to {{ defaultValue("research_goal_fr") }}.
    {% else %}
      We are conducting this research today to help us {{ defaultValue("research_goal_fr") }}.
    {% endif %}
    </p>

    <p>
      To do this we will ask you to {{ defaultValue("session_activity_fr") }}. This will take {{ defaultValue("session_duration_fr") }}.
    </p>

    <p>
      By participating in this study, you understand that:
    </p>
    <ul>
      {% if data.compensation == "Yes" %}
        <li>You are volunteering to participate. You can stop at any time for any reason.</li>
        <li>For your {{ defaultValue("session_duration_fr") }} of input, you will receive a one-time {{ defaultValue("compensation_method") }} of up to {{ defaultValue("compensation_value") }}. This is taxable income.</li>
        <li>Should you decide to stop participating, you will receive a one-time payment of $10 if you have provided at least 8.5 minutes of input.</li>
        <li>If you have provided less than 8.5 minutes you will be entitled to $0</li>
      {% else %}
        <li>You are volunteering to participate. You can stop at any time for any reason, without any consequences.</li>
      {% endif %}

      {% if data.confidentiality == "form.confidential" %}
        <li>Your information will be confidential. This means your responses will not be linked to you.</li>
      {% elif data.confidentiality == "form.anonymized" %}
        <li>Your information will be anonymized. This means your responses will not be linked to you.</li>
      {% elif data.confidentiality == "form.anonymous" %}
        <li>Your information will be anonymous. This means your responses will not be linked to you.</li>
      {% elif data.confidentiality == "form.public" %}
        <li>Your information will be public. Your input will be associated with your name.</li>
      {% elif data.confidentiality == "form.not_confidential" %}
        <li>Your information will not be confidential. Your input will be associated with your name.</li>
      {% endif %}

      {% if data.compensation == "Yes" %}
         <li>The fact that you participated will not be confidential.</li>
      {% endif %}

      {% if data.confidentiality == "form.public" %}
        <li>CDS will share publicly {{ defaultValue("personal_information_disclosed_to_public_fr") }}.</li>
      {% endif %}

      {% if data.confidentiality == "form.anonymous" or data.confidentiality == "form.anonymized" %}
        <li>Due to this, you will not be able to withdraw or correct your information once provided.</li>
      {% endif %}

      {% if data.confidentiality == "form.anonymous" %}
        <li>Please do not provide any information in your responses that would identify you.</li>
      {% endif %}

      {% if data.is_with_partner == "Yes" %}
        <li>CDS and {{ defaultValue("partner_department_acronym_fr")}} may collect your personal information. For example, your {{ defaultValue("personal_information_collected_fr") }}.
        To learn about how CDS and {{ defaultValue("partner_department_acronym_fr") }} protect your personal information, please see the attached privacy statement.</li>
      {% else %}
        <li>CDS may collect your personal information. For example, your {{ defaultValue("personal_information_collected_fr") }}. To learn about how CDS protects your personal information, please see the attached privacy statement.</li>
      {% endif %}

      {% if data.compensation == "Yes" %}
        <li>I certify that I am not a former public servant in receipt of a pension or lump sum payment from the Government of Canada.</li>
        <li>I certify that I am not a public servant participating during working hours.</li>
      {% endif %}
    </ul>
    <p>
      {% if data.consent == "Verbally" %}
        Name: ________________________
        <br>
        Date: _________________________ Time: _________________________
      {% endif %}

      {% if data.consent == "On paper" %}
        [ ] <b>I understand the points above and consent to participate in the research.</b>
        <br>
        Name: _________________________      Date: _________________________
        <br>
        Signature: ____________________________
      {% endif %}
    </p>
    {% if data.consent == "action" %}
      <p>I understand the points above and consent to participate in the research.</p>
    {% endif %}

    {% if data.is_business == "Yes" %}
      <p>Legal business name: ____________________________</p>
    {% endif %}

    {% if data.recording_type == "Video and audio" or data.recording_type == "Audio only" or data.recording_type == "Screen recording with audio" %}

      {% if data.recording_type == "Video and audio" %}
        <h3>Optional video recording</h3>
      {% else %}
        <h3>Optional audio recording</h3>
      {% endif %}

      <p>Recording our research will help us ensure we capture all of your input. Sharing our sessions with other departments will help illustrate the value of {{ defaultValue("research_method") }}s with users in building better digital services.</p>

      <p>By agreeing to be recorded, you understand that:</p>
      <ul>
        <li>You are choosing to be recorded;</li>
        <li>You are not to provide any additional information that would allow others to identify you during the recording (e.g. your name, date of birth, address, etc.)</li>
        <li>Your responses will not be confidential due to your audio likeness in the recording, and may be shared with other departments for {{ defaultValue("purposes_for_which_the_recording_may_be_disclosed_fr") }}; and,</li>
        <li>If you decide to withdraw your consent, CDS will not share your recording further.</li>
      </ul>

      <p>However, prior to your withdrawal, CDS may have already shared your recording with other departments, which may continue to use the recording for {{ defaultValue("purposes_for_which_the_recording_may_be_disclosed_fr") }}.</p>

      <p>[ ] I understand the points above and consent to be recorded.</p>

      <p>Name: ____________________________ Date: _______________________</p>
    {% endif %}


    <h3>Privacy Statement</h3>
    <p>Participation is completely voluntary.</p>

    <h3>What we will collect</h3>
    <p>By participating in this research you consent that your {{ defaultValue("personal_information_collected_fr") }} will be collected.</p>
    <h3>How we will use this information</h3>

    {% if data.compensation == "No" %}
      <p>The Canadian Digital Service (CDS) will use this information to {{ defaultValue("research_goal_fr") }}.</p>
      <p>We collect this information to ensure our research cohorts are diverse and to identify trends in feedback for specific groups.</p>
    {% else %}
      <p>The Canadian Digital Service (CDS) will use this information to {{ defaultValue("research_goal_fr") }}.</p>
      <p>We collect this information to ensure our research cohorts are diverse and to identify trends in feedback for specific groups, and to provide you with compensation.</p>
      <p>Please note, you may be contacted at a later date to verify you have received compensation.</p>
    {% endif %}

    {% if data.administrative_decision == "No" %}
      <p>This personal information will not be used for any “administrative purposes”. Your information will not be used to make a decision that affects you or your access to Government of Canada services.</p>
    {% endif %}

    {% if data.recording_type != "No recording" %}
      <p>If you have consented to being recorded, the recording may be disclosed to other departments for {{ defaultValue("purposes_for_which_the_recording_may_be_disclosed_fr")}}.</p>
    {% endif %}

    {% if data.compensation == "Yes" %}
      <p>CDS will own the {{ defaultValue("research_method") }} information and may publish or share with other government institutions a summary of what we have learned from this research, including quotes or narratives. Your name will not be associated with your responses, quotes, or narratives.</p>
    {% else %}
      <p>CDS may publish or share with other government institutions a summary of what we have learned from this research, including quotes or narratives. Your name will not be associated with your responses, quotes, or narratives.</p>
    {% endif %}

    <h3>Who we are</h3>

    <p>CDS is part of the Treasury Board of Canada Secretariat (TBS).</p>
    <ul>
      <li>The collection and use of your personal information by TBS is authorized by the <i>Financial Administration Act</i>. </li>
      {% if data.is_with_partner == "Yes" %}
        <li>The collection and use of your personal information by {{ defaultValue("partner_department_acronym_fr") }} is authorized by the <i>{{ defaultValue("partner_department_authority_fr") }}</i>.</li>
      {% endif %}
      <li>The collection, use, and disclosure of your personal information is in accordance with the federal <i>Privacy Act</i>. Under the <i>Privacy Act</i>, you have a right of protection, access to and correction or notation of your personal information.</li>
    </ul>

    {% if data.compensation == "Yes" %}
      <p>The Standard Personal Information Bank entitled “Outreach Activities, PSU 938” and "Accounts Payable, PSU 931", describes the personal information that may be written down.</p>
      <p>Information on programs and holdings: https://www.canada.ca/en/treasury-board-secretariat/services/access-information-privacy/access-information/information-about-programs-information-holdings.html</p>
    {% else %}
      <p>The Standard Personal Information Bank entitled “Outreach Activities, PSU 938”, describes the personal information that may be written down.</p>
      <p>PSU 938: http://www.infosource.gc.ca/emp/emp03-eng.asp#psu938</p>
    {% endif %}

    <h3>Your legal rights</h3>

    {% if data.confidentiality == "form.anonymized" or data.confidentiality == "form.anonymous" %}
      <p>Due to the anonymity of responses, CDS will have no reliable means of associating you with your information provided. This means we will not be able to access or respond to your request for correction to inaccurate information or withdrawal.</p>
    {% endif %}

    <p>
      CDS/TBS may record your personal information. If you want to access or correct that personal information, or for any questions or concerns, please contact their privacy office:
      <br>
      <br>
      <i>TBS Access to Information and Privacy Coordinator</i>
      <br>
      ATIP.AIPRP@tbs-sct.gc.ca
      <br>
      1-866-312-1511
    </p>

    <p>
      You can complain to the Office of the Privacy Commissioner of Canada about the handling of your personal information:
      <br>
      <br>
      <i>Office of the Privacy Commissioner of Canada</i>
      <br>
      info@priv.gc.ca
      <br>
      1-800-282-1376
    </p>

</div>

<p>
    [Put your agreement in an existing privacy form template to add the <a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/federal-identity-program/technical-specifications/stationery/letterhead-flag-symbol.html">Canada Wordmark</a>.]
</p>

{% endblock %}
