{% extends "base.njk" %}

{% block content %}

<h1>FR Here's your generated privacy form</h1>

<a target="_blank" href="email-link">Email yourself a link to your answers</a>
&nbsp; &nbsp;
<a href={{ "documents/" + docxFilename }}>Download as a Word doc</a>
&nbsp; &nbsp;
<a href="agreement-1?lang=en">Get the English version</a> 

<p style="margin-top: 30px">
    You might need to check it for punctuation and spelling before you 
    <a target="_blank" href="https://atip-aiprp.apps.gc.ca/atip/welcome.do">send it to your ATIP office</a>.
</p>

<div style="display: none">start of agreement</div>

<hr style="margin-top: 40px"/>

<p style="margin-top: 40px">
    [Put your agreement in an exisiting privacy form template to add the <a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/federal-identity-program/technical-specifications/stationery/letterhead-flag-symbol.html">Canadian flag symbol signature</a>.]
</p>

<h2>French DRAFT Research Participant Agreement to send to your ATIP office</h2>


{% endblock %}
