{% extends "base.njk" %}

{% block content %}

<h1>Here's your generated privacy form</h1>

<a target="_blank" href="email-link">Email yourself a link to your answers</a>
&nbsp; &nbsp;
<a href={{ "/access/" + docxFilename }}>Download as a Word doc</a>
&nbsp; &nbsp;
<a href="agreement-1?lang=fr">Get the French version</a>

<p style="margin-top: 30px">
    Make sure you check the draft form for errors before you
    <a target="_blank" href="https://atip-aiprp.apps.gc.ca/atip/welcome.do">send it to your ATIP office (opens in new tab)</a>.
</p>

<div style="display: none">start of agreement</div>

<hr style="margin-top: 40px"/>

<p style="margin-top: 40px">
    [Put your consent form and privacy statement in an existing privacy form template to add the <a target="_blank" href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/federal-identity-program/technical-specifications/stationery/letterhead-flag-symbol.html">Canadian flag symbol signature (opens in new tab)</a>.]
</p>

<h3 style="margin-top:20px;margin-bottom:30px;">DRAFT 'Consent to participate in research form' to send to your ATIP office</h3>

<div>
  <h2>Decide if you'll participate in our research</h2>
  <br>
  <p>
    {% if data.is_with_cds === "yes" and data.is_with_partner === "no" %}
      The Canadian Digital Service (CDS) wants to {{ defaultValue("research_goal")}}.
    {% elif data.is_with_cds === "yes" and data.is_with_partner === "yes" %}
      The Canadian Digital Service (CDS) and {{ defaultValue("partner_department_name")}} ({{ defaultValue("partner_department_acronym")}}) want to {{ defaultValue("research_goal")}}.
    {% elif data.is_with_cds === "no" and data.is_with_partner === "yes" %}
      {{ defaultValue("department_name")}} ({{ defaultValue("department_acronym")}}) wants to {{ defaultValue("research_goal")}}.
    {% endif %}
  </p>

  <p>We would like to {{ defaultValue("session_activity")}}.</p>

  <p>We expect this session to take {{ defaultValue("session_duration")}}.</p>

   <p>
    {% if data.compensation === "no" %}
        You can stop participating at any time for any reason.
    {% endif %}
  </p>

  {% if data.compensation === "yes" and data.consent === "in writing" %}
    <h3>We will compensate you for your time</h3>
    <p> 
      After you're done, we'll give you 
      {% if data.compensation_value === "other amount" and data.compensation_method === "other" %}
        {{ defaultValue("other_compensation_value")}} via {{ defaultValue("other_compensation_method")}}.
      {% elif data.compensation_value === 'other amount' and data.compensation_method !== "other"%}
        {{ defaultValue("other_compensation_value")}} via {{ defaultValue("compensation_method")}}.
      {% elif data.compensation_value !== 'other amount' and data.compensation_method === "other"%}
        {{ defaultValue("compensation_value")}} via {{ defaultValue("other_compensation_method")}}  
      {% elif data.compensation_value !== "other amount" and data.compensation_method !== "other" %}
        {{ defaultValue("compensation_value")}} via {{ defaultValue("compensation_method")}}.
      {% endif %}
      You need to declare this money when you file your taxes.
    </p>

    <h3>You can Stop participating at any time for any reason</h3>

    <p>If you participate for at least 10 minutes, we'll give you $10. If you participate for under 10 minutes, we do not pay anything.</p>
  {% endif %}

  {% if data.administrative_decision === "no" %}
    <p>The Government of Canada will <strong>not</strong> use your participation or answers to make decisions about your access to programs and services.</p>
  {% elif data.administrative_decision === "yes" %}
    <p>We may be able to combine this research session with the {{ defaultValue("administrative_impact")}}.</p>
    <p>As a result, your participation or answers may be used to {{ defaultValue("administrative_response_impact")}}.</p>
  {% endif %}

  {% if data.confidentiality === "anonymous" %}
    <h2>Your information will be anonymous so we cannot identify you</h2>
  {% elif data.confidentiality === "anonymized" %}
    <h2>We remove personal information so your answers are anonymous</h2>
  {% elif data.confidentiality === "confidential" %}
    <h2>We'll separate your name and contact information from your answers</h2>
  {% elif data.confidentiality === "not confidential" and data.is_with_cds === "yes" and data.is_with_partner === "no" %}
    <h2>Only CDS will know your identity and information</h2>
  {% elif data.confidentiality === "not confidential" and data.is_with_cds === "yes" and data.is_with_partner === "yes" %}
    <h2>Only CDS and {{ defaultValue("partner_department_acronym")}} and will know your identity and information</h2>
  {% elif data.confidentiality === "not confidential" and data.is_with_cds === "no" and data.is_with_partner === "no" %}
    <h2>Only {{ defaultValue("department_acronym")}} will know your identity and information</h2>
  {% elif data.confidentiality === "not confidential" and data.is_with_cds === "no" and data.is_with_partner === "yes" %}
    <h2>Only {{ defaultValue("department_acronym")}} and {{ defaultValue("partner_department_acronym")}} will know your identity and information</h2>
  {% elif data.confidentiality === "public" %}
    <h2>We may publicly share your answers and identity</h2>
    <br>
    <p>We may quote or describe your answers to research questions in a summary that we share publicly or with other government departments. We may link the quote or answers with your name or job title.</p>
    <p>We only use your {{ defaultValue("personal_information_collected")}} to:</p>
    <ul>
      <li>Check that a variety of people participate in the research. </li>
      <li>{{ defaultValue("research_goal")}}</li>
      {% if data.compensation === "yes" %}
      <li>Compensate you and check that you received the compensation.</li>
      {% endif %}
    </ul>
    <br>
    <p>If requested by a member of the public, we may publish a list of people who participated in this research. Your name and the amount of compensation would show on that list.</p>
  {% endif %}

  {% if data.confidentiality === "anonymous" or data.confidentiality === "anonymized" or data.confidentiality === "confidential" or data.confidentiality === "non confidential" %}
      <br>
      <p>We'll delete your {{ defaultValue("personal_information_collected")}} after {{ defaultValue("personal_information_retention")}}. But we may quote or describe your answers to research questions in a summary that we share publicly or with other government departments. We will not link the quotes or answers with your name or contact information.</p>
  {% endif %}
  
  <h2>We Follow Privacy Laws</h2>
  <br>
  {% if data.is_with_cds === "yes" and data.is_with_partner === "no" %}
    <p>CDS is part of the Government of Canada's <a target="_blank" href="https://www.canada.ca/en/treasury-board-secretariat.html">Treasury Board of Canada Secretariat (TBS)</a>. We're allowed to collect and use information under the Financial Administration Act.</p>
    <p>Our research follows TBS rules about personal information. We report personal information from research in a Personal Information Bank called Outreach Activities.</p>
  {% elif data.is_with_cds === "yes" and data.is_with_partner === "yes" %}
    <p>{{ defaultValue("partner_department_acronym")}} has permission to collect and use personal information under the {{ defaultValue("partner_department_authority")}}.</p>
    <p>CDS is part of the Government of Canada's <a target="_blank" href="https://www.canada.ca/en/treasury-board-secretariat.html">Treasury Board of Canada Secretariat (TBS)</a>. We're allowed to collect and use information under the Financial Administration Act.</p>
    <p>Our research follows TBS rules about personal information. We report personal information from research in a Personal Information Bank called Outreach Activities.</p>
  {% elif data.is_with_cds === "no" and data.is_with_partner === "no" %}
    <p>{{ defaultValue("department_acronym")}} has permission to collect and use personal information under the {{ defaultValue("department_authority")}}.</p>
    <p>Our research follows Government of Canada rules about personal information. We report personal information from research in a Personal Information Bank called {{ defaultValue("department_information_bank")}}.</p>
  {% elif data.is_with_cds === "no" and data.is_with_partner === "yes" %}
    <p>{{ defaultValue("department_acronym")}} has permission to collect and use personal information under the {{ defaultValue("department_authority")}}.</p>
    <p>{{ defaultValue("partner_department_acronym")}} has permission to collect and use personal information under the {{ defaultValue("partner_department_authority")}}.</p>
    <p>Our research follows Government of Canada rules about personal information. We report personal information from research in a Personal Information Bank called {{ defaultValue("department_information_bank")}}.</p>
  {% endif %}

  {% if data.compensation === "yes" %}
    <p>If we compensate you, we report that information in a Personal Information Bank called Accounts Payable.</p>
  {% endif %}

  <h2>You have Privacy rights</h2>
  <br>
    {% if data.is_with_cds === "yes" and data.is_with_partner === "no" %}
    <p>The Privacy Act gives you the right to access, review and correct your personal information. If you make corrections, then we'll correct this information in the research records for CDS.</p>
    <p>To check, correct, or update your information, contact the TBS Access to Information and Privacy Coordinator, by:</p>
    <ul>
      <li>Emailing <a href="mailto:ATIP.AIPRP@tbs-sct.gc.ca">ATIP.AIPRP@tbs-sct.gc.ca</a></li>
      <li>Calling <a href="tel:1-866-312-1511">1-866-312-1511</a></li>
    </ul>
    <p>You also have the right to raise concerns about how we handle your personal information. To learn more or make a formal complaint, contact the <a target="_blank" href="https://www.priv.gc.ca/en/for-individuals/">Privacy Commissioner of Canada.</a></p>
  {% elif data.is_with_cds === "yes" and data.is_with_partner === "yes" %}
    <p>The Privacy Act gives you the right to access, review and correct your personal information. If you make corrections, then we'll correct this information in the research records for CDS and {{ defaultValue("partner_department_acronym")}}.</p>
    <p>To check, correct, or update your information, contact the TBS Access to Information and Privacy Coordinator, by:</p>
    <ul>
      <li>Emailing <a href="mailto:ATIP.AIPRP@tbs-sct.gc.ca">ATIP.AIPRP@tbs-sct.gc.ca</a></li>
      <li>Calling <a href="tel:1-866-312-1511">1-866-312-1511</a></li>
    </ul>
    <p>You also have the right to raise concerns about how we handle your personal information. To learn more or make a formal complaint, contact the <a target="_blank" href="https://www.priv.gc.ca/en/for-individuals/">Privacy Commissioner of Canada.</a></p>
  {% elif data.is_with_cds === "no" and data.is_with_partner === "no" %}
   <p>The Privacy Act gives you the right to access, review and correct your personal information. If you make corrections, then we'll correct this information in the research records for {{ defaultValue("department_acronym")}}.</p>
    <p>To check, correct, or update your information, contact {{ defaultValue("department_atip_office")}}, by:</p>
    <ul>
      <li>Emailing {{ defaultValue("department_atip_email")}}</a></li>
      <li>Calling {{ defaultValue("department_atip_phone") }}</a></li>
    </ul>
    <p>You also have the right to raise concerns about how we handle your personal information. To learn more or make a formal complaint, contact the <a target="_blank" href="https://www.priv.gc.ca/en/for-individuals/">Privacy Commissioner of Canada.</a></p>
  {% elif data.is_with_cds === "no" and data.is_with_partner === "yes" %}
    <p>The Privacy Act gives you the right to access, review and correct your personal information. If you make corrections, then we'll correct this information in the research records for {{ defaultValue("department_acronym")}} and {{ defaultValue("partner_department_acronym")}}.</p>
    <p>To check, correct, or update your information, contact {{ defaultValue("department_atip_office")}}, by:</p>
    <ul>
      <li>Emailing {{ defaultValue("department_atip_email")}}</a></li>
      <li>Calling {{ defaultValue("department_atip_phone") }}</a></li>
    </ul>
    <p>You also have the right to raise concerns about how we handle your personal information. To learn more or make a formal complaint, contact the <a target="_blank" href="https://www.priv.gc.ca/en/for-individuals/">Privacy Commissioner of Canada.</a></p>
  {% endif %}

  <h2>To ask questions about this research</h2>
  <br>
  <p>Contact {{ defaultValue("researcher_name")}} by:</p>
  <ul>
    <li>Emailing {{ defaultValue("researcher_email")}}</li>
    {% if data.researcher_phone !== "" %}
      <li>Calling {{ defaultValue("researcher_phone")}}</li>
    {% endif %}
  </ul>

  <h2>By signing you confirm that:</h2>
  <br>
  <ul>
    {% if data.compensation === "yes" %}
      <li>You're not a former federal public servant who received a pension or lump sum payment from the Government of Canada.</li>
    {% elif data.compensation === "yes" %}
      <li>You're not a federal public servant participating during working hours.</li>
    {% endif %}
      <li>You've read and understand this document and agree to participate.</li>
  </ul>
  <p>
    {% if data.consent === "verbally" %}
      Name: _________________________
      <br>
      Date: _________________________ Time: _________________________
    {% endif %}

    {% if data.consent === "in writing" %}
      <br>
      Name: _________________________________      Date: _________________________
      <br>
      Signature: ____________________________
    {% endif %}
  </p>

  {% if data.is_business === "yes" %}
    <p>Legal business name: ____________________________</p>
  {% endif %}

  <br>

  {% if data.recording_type !== "none" %}
    <div>
      {% if data.recording_type === "video and audio" %}
        <h2>Decide if we can record a video of the session</h2>
        <br>
      {% elif data.recording_type !== "audio only" and data.recording_type === "screen and audio"%}
        <h2>Decide if we can record your conversation during the session</h2>
        <br>
      {% endif %}

      {% if data.will_the_recording_be_disclosed === "no" %}
        <p>Recording helps us remember all your answers.</p>
          {% if data.recording_type !== "video and audio" %}
            <p>If you agree to recording we cannot guarantee confidentiality because people who watch the recording may recognise your voice or your face.Try not to provide personal information that could identify you, such as your name, date of birth, etc.</p>
          {% elif data.recording_type !== "audio only" or data.recording_type === "screen and audio"%}
            <p>If you agree to recording we cannot guarantee confidentiality because people who watch the recording may recognise your voice.Try not to provide personal information that could identify you, such as your name, date of birth, etc.</p>
          {% endif %}
      {% elif data.will_the_recording_be_disclosed === "yes"%}
         <p>Recording helps us remember all your answers.</p>
          {% if data.recording_type !== "video and audio" %}
            <ul>
              <p>If you agree to recording:</p>
              <li>We cannot guarantee confidentiality because people who watch the recording may recognise your voice or your face.Try not to provide personal information that could identify you, such as your name, date of birth, etc</li>
              <li>We may share the video with {{ defaultValue("departments_disclosed")}} as part of this research.</li>
              <li>If you tell us you've changed your mind before we share with {{ defaultValue("departments_disclosed")}}, we will not share it.</li>
            </ul>
          {% elif data.recording_type !== "audio only" or data.recording_type === "screen and audio"%}
            <ul>
              <p>If you agree to recording:</p>
              <li>We cannot guarantee confidentiality because people who watch the recording may recognise your voice.Try not to provide personal information that could identify you, such as your name, date of birth, etc</li>
              <li>We may share the recording of the conversation with {{ defaultValue("departments_disclosed")}} as part of this research.</li>
              <li>If you tell us you've changed your mind before we share with {{ defaultValue("departments_disclosed")}}, we will not share it.</li>
            </ul>          
          {% endif %}
      {% endif %}

      {% if data.recording_type !== "video and audio" %}
          <p>By signing, you confirm that you've read and understood this page and agree that we can record a video of your session.</p>
          <br>
          <p>
            Name: ____________________________ Date: _______________________
          </p>
      {% elif data.recording_type !== "audio only" or data.recording_type === "screen and audio"%}
          <p>By signing, you confirm that you've read and understood this page and agree that we can record your conversation during your session.</p>
          <br>
          <p>
            Name: ____________________________ Date: _______________________
          </p>
      {% endif %}
    </div>
  {% endif %}
  <p>
      [Put your agreement in an existing privacy form template to add the <a href="https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/federal-identity-program/technical-specifications/stationery/letterhead-flag-symbol.html">Canada Wordmark (opens in new tab)</a>.]
  </p>
</div>
{% endblock %}
