{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('chart.title') }}</h1>

    <canvas id="myChart" width="200" height="200"></canvas>

    <div>
        <a class="button-link" href="{{ nextRoute }}" role="button" draggable="false">Next
            <span aria-hidden="true">→</span></a>
    </div>

    <script>
        const ctx = document.getElementById("myChart");
        const myChart = new Chart(ctx, {{ data.options | dump | safe }});
    </script>
{% endblock %}