extends /base

block variables
  -var title = __('chart.title')

block content

  h1 #{title}
  canvas(id="myChart" width="200" height="200")
  div
    a.button-link(href=nextRoute role='button' draggable='false') #{__('next')} <span aria-hidden="true">→</span>
  script.
    const ctx = document.getElementById("myChart");
    const myChart = new Chart(ctx, !{JSON.stringify(data.options)});
