{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('questions-1.title') }}</h1>
    <p>{{ __('questions-1.intro') }}</p>
    <div>
        <form method="post" class="form">

            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <h2>{{ __('contactInfo.title') }}</h2>

            {{ textInput('researcher_name', 'form.researcher_name') }}
            {{ textInput('researcher_phone', 'form.researcher_phone') }}
            {{ textInput('researcher_email', 'form.researcher_email', {hint: 'form.researcher_email.desc'}) }}

            <div class="toggle-area">
                {{ radioButtons('is_not_with_cds', { 'off':'Yes','on':'No'}, data.is_not_with_cds, 'form.is_not_with_cds', errors) }}
            </div>
            <div class="is_not_with_cds-toggled" style="display:none" >
                {{ textInput('department_name', 'form.department_name') }}
                {{ textInput('epartment_abbr', 'form.department_abbr') }}
                {{ textInput('department_authority', 'form.department_authority', { hint: 'form.department_authority.desc' }) }}
                {{ textInput('department_atip_office', 'form.department_atip_office') }}
                {{ textInput('department_atip_office_email', 'form.department_atip_office_email') }}
                {{ textInput('department_atip_office_phone', 'form.department_atip_office_phone') }}
                {{ textInput('department_information_bank', 'form.department_information_bank') }}
                {{ textInput('department_information_bank_url', 'form.department_information_bank_url') }}
            </div>


            <h2>{{ __('testInfo.title') }}</h2>

            <div class="toggle-area">
                {{ radioButtons('is_with_partner', { 'on':'form.is_with_partner_on','off':'form.is_with_partner_off'}, data.is_with_partner, 'form.is_with_partner', errors) }}
            </div>
            <div class="is_with_partner-toggled" style="display:none" >
                {{ textInput('partner_department_name', 'form.partner_department_name', { hint: 'form.partner_department_name.desc' }) }}
                {{ textInput('partner_department_abbr', 'form.partner_department_abbr', { hint: 'form.partner_department_abbr.desc' }) }}
                {{ textInput('partner_department_authority', 'form.partner_department_authority', { hint: 'form.partner_department_authority.desc' }) }}
            </div>

            {{ radioButtons('research_method', { '1':'form.interview','2':'form.usability_testing'}, data.research_method, 'form.research_method', errors) }}

            {{ textArea('research_goal', 'form.research_goal', {hint: 'form.research_goal.desc'}) }}
            {{ textArea('session_activity', 'form.session_activity', {hint: 'form.session_activity.desc'}) }}

            {{ textInput('session_duration', 'form.session_duration', {hint: 'form.session_duration.desc'}) }}

            {{ textArea('personal_information_collected', 'form.personal_information_collected', {hint: 'form.personal_information_collected.desc'}) }}

            {{ textInput('personal_information_length', 'form.retain_personal_information_length', {hint: 'form.retain_personal_information_length.desc'}) }}

            
            <h2>{{ __('compensation.title') }}</h2>
            
            <div class="toggle-area">
                {{ radioButtons('compensation', { 'on':'form.compensation_on','off':'form.compensation_off'}, data.compensation, 'form.compensation', errors) }}
            </div>
            <div class="compensation-toggled" style="display:none" >
                {{ radioButtons('compensation_method', { '1':'form.mastercard','2':'form.visa', '3': 'form.cheque', '4': 'form.other_compensation_method_choice'}, data.compensation_method, 'form.compensation_method', errors) }}
                {{ textInput('other_compensation_method', 'form.other_compensation_method') }}
                {{ radioButtons('compensation_value', { '1':'form.compensation_50','2':'form.compensation_25','3':'form.compensation_10', '4':'form.other_compensation_amount'}, data.compensation_value, 'form.compensation_value', errors) }}
                {{ textInput('other_compensation_value', 'form.other_compensation_value') }}
            </div>
            
            <h2>{{ __('privacy.title') }}</h2>
            
            <div class="toggle-area">
            {{ radioButtons('confidentiality', { 'off-1':'form.anonymous','off-2':'form.anonymized','off-3':'form.confidential','on-1':'form.not_confidential','on-2':'form.public'}, data.confidentiality, 'form.confidentiality', errors) }}
            </div>
            <div class="confidentiality-toggled" style="display:none" >
                {{ textArea('personal_information_disclosed_to_public', 'form.personal_information_disclosed_to_public', {hint: 'form.personal_information_disclosed_to_public.desc'}) }}
            </div>

            <div class="toggle-area">
                {{ radioButtons('administrative_decision', { 'on':'form.administrative_decision_on','off':'form.administrative_decision_off'}, data.administrative_decision, 'form.administrative_decision', errors, {hint: 'form.administrative_decision.desc'}) }}
            </div>
            <div class="administrative_decision-toggled" style="display:none" >
                {{ textArea('administrative_impact', 'form.administrative_impact', {hint: 'form.administrative_impact.desc'}) }}
                {{ textArea('administrative_response_impact', 'form.administrative_response_impact', {hint: 'form.administrative_response_impact.desc'}) }}
            </div>

            {{ radioButtons('share_notice', { '1':'form.virtual_copy','2':'form.printed_copy'}, data.share_notice, 'form.share_notice', errors, {hint: 'form.share_notice.desc'}) }}

            {{ radioButtons('consent', { '1':'form.verbally','2':'form.in_writing'}, data.consent, 'form.consent', errors) }}

            {{ radioButtons('is_business', { '1':'form.is_business_on','2':'form.is_business_off'}, data.is_business, 'form.is_business', errors, {hint: 'form.is_business.desc'}) }}

            <div class="toggle-area">
                {{ radioButtons('recording_type', { 'on-1':'form.recording_video_audio','on-2':'form.recording_audio_only','on-3':'form.recording_screen_audio','off-1':'form.recording_screen_only','off-2':'form.recording_none'}, data.recording_type, 'form.recording_type', errors) }}
            </div>
            <div class="recording_type-toggled" style="display:none" >
                <div class="toggle-area">
                    {{ radioButtons('will_the_recording_be_disclosed', { 'on':'form.recording_disclosed_on','off':'form.recording_disclosed_off'}, data.consent, 'form.will_the_recording_be_disclosed', errors) }}
                </div>
                <div class="will_the_recording_be_disclosed-toggled" style="display:none" >
                    {{ textArea('departments_disclosed', 'form.departments_disclosed', {hint: 'form.departments_disclosed.desc'}) }}
                    {{ textArea('purposes_for_which_the_recording_may_be_disclosed', 'form.purposes_for_which_the_recording_may_be_disclosed', {hint: 'form.purposes_for_which_the_recording_may_be_disclosed.desc'}) }}
                </div>
            </div>
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
