{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('questions-1.title') }}</h1>

    <div>
        <form method="post" class="form">

            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <h2>{{ __('contactInfo.title') }}</h2>

            {{ textInput('researcher_name', 'form.researcher_name') }}
            {{ textInput('researcher_phone', 'form.researcher_phone') }}
            {{ textInput('researcher_email', 'form.researcher_email') }}


            <h2>{{ __('testInfo.title') }}</h2>

            <div class="toggle-area">
                {{ radioButtons('is_with_partner', { 'on':'Yes','off':'No'}, data.is_with_partner, 'form.is_with_partner', errors) }}
            </div>
            <div class="is_with_partner-toggled" style="display:none" >
                {{ textInput('partner_department_name' + language, 'form.partner_department_name') }}
                {{ textInput('partner_department_acronym' + language, 'form.partner_department_acronym') }}
                {{ textInput('partner_department_authority' + language, 'form.partner_department_authority', { hint: 'form.partner_department_authority.desc' }) }}
            </div>

            {{ radioButtons('research_method', { '1':'Interview','2':'Usability testing'}, data.research_method, 'form.research_method', errors) }}

            {{ textArea('research_goal' + language, 'form.research_goal', {hint: 'form.research_goal.desc'}) }}
            {{ textArea('session_activity' + language, 'form.session_activity', {hint: 'form.session_activity.desc'}) }}

            {{ textInput('session_duration' + language, 'form.session_duration', {hint: 'form.session_duration.desc'}) }}

            {{ textArea('personal_information_collected' + language, 'form.personal_information_collected', {hint: 'form.personal_information_collected.desc'}) }}
            
            <h2>{{ __('compensation.title') }}</h2>
            
            <div class="toggle-area">
                {{ radioButtons('compensation', { 'on':'Yes','off':'No'}, data.compensation, 'form.compensation', errors) }}
            </div>
            <div class="compensation-toggled" style="display:none" >
                {{ radioButtons('compensation_method', { '1':'Mastercard gift card','2':'VISA gift card'}, data.compensation_method, 'form.compensation_method', errors) }}
                {{ radioButtons('compensation_value', { '1':'$50 (For 1 hour of their time)','2':'$25 (For 1/2 hour of their time)','3':'$10 (For 8.5 min of their time (minimum))'}, data.compensation_value, 'form.compensation_value', errors) }}
            </div>
            
            <h2>{{ __('privacy.title') }}</h2>
            
            <div class="toggle-area">
            {{ radioButtons('confidentiality', { 'off-1':'form.anonymized','off-2':'form.anonymous','off-3':'form.confidential','on-1':'form.not_confidential','on-2':'form.public'}, data.confidentiality, 'form.confidentiality', errors) }}
            </div>
            <div class="confidentiality-toggled" style="display:none" >
                {{ textArea('personal_information_disclosed_to_public' + language, 'form.personal_information_disclosed_to_public', {hint: 'form.personal_information_disclosed_to_public.desc'}) }}
            </div>

            <div class="toggle-area">
                {{ radioButtons('administrative_decision', { 'on':'Yes','off':'No'}, data.administrative_decision, 'form.administrative_decision', errors) }}
            </div>
            <div class="administrative_decision-toggled" style="display:none" >
                {{ textArea('administrative_purpose' + language, 'form.administrative_purpose', {hint: 'form.administrative_purpose.desc'}) }}
            </div>

            {{ radioButtons('consent', { '1':'Verbally','2':'On paper'}, data.consent, 'form.consent', errors) }}

            {{ radioButtons('is_business', { '1':'Yes','2':'No'}, data.is_business, 'form.is_business', errors) }}

            <div class="toggle-area">
                {{ radioButtons('recording_type', { 'on-1':'Video and audio','on-2':'Audio only','on-3':'Screen recording with audio','off-1':'Screen recording only','off-2':'No recording'}, data.recording_type, 'form.recording_type', errors) }}
            </div>
            <div class="recording_type-toggled" style="display:none" >
                {{ textArea('purposes_for_which_the_recording_may_be_disclosed' + language, 'form.purposes_for_which_the_recording_may_be_disclosed', {hint: 'form.purposes_for_which_the_recording_may_be_disclosed.desc'}) }}
            </div>
            {{ formButtons() }}
        </form>
    </div>

    <a href="feedback">{{ __('feedback_link_text') }}</a>

{% endblock %}
