extends layout

block content
  .row.h-100
    .col-sm-12.my-auto
      .jumbotron
        h1.display-4 Hello, there!
        p.lead
          | You've messed up some how, unfortunatelty, but I cant help you ...
        hr.my-4
        p
          | Your logs can, so go check there ...
        a.btn.btn-primary.btn-lg(href='https://expressjs.com/en/guide/routing.html', role='button') Learn more here.


