{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('landing-page.title') }}</h1>

    <div>
        <p>
            {{ __('landing-page.intro_1') }}
        </p>
        <p>
            {{ __('landing-page.intro_2') }}
        </p>
        <p>
            {{ __('landing-page.intro_3') }}
        </p>
        <p>
            {{ __('landing-page.intro_4') }}
        </p>
        <p>
            {{ __('landing-page.steps-lead-in') }}
        </p>
        <ul>
            <li>
                {{ __('landing-page.steps-recruit') }}
            </li>
            <li>
                {{ __('landing-page.steps-tools') }}
            </li>
            <li>
                {{ __('landing-page.steps-activities') }}
            </li>
        </ul>
         
       {% if lang === "/en/" %}
            <p>
                <a href="/en/{{questionsURL}}">{{ __('landing-page.option1') }}</a>.
            </p>
        {% elif lang === "/fr/" %}
            <p>
                <a href="/fr/{{questionsURL}}">{{ __('landing-page.option1') }}</a>.
            </p>
        {% endif %}

    </div>

{% endblock %}
