{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('landing-page.title') }}</h1>

    <div>
        <p>
            {{ __('landing-page.intro') }}
        </p>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ radioButtons('template', { '1': 'form.template1','2': 'form.template2'}, data.template,  'landing-page.leadin', errors) }}
            
            {{ submitButton('start.submit') }}
        </form>
    </div>

{% endblock %}
