header {
  padding: 0 0 0 0;

  button {
    padding: 0;
  }

  @include sm {
    padding-bottom: $space-lg;
    text-align: right;
  }

  .fip-container {
    flex-direction: column;
    display: flex;

    @include sm {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .language-link {
    text-align: left;
    margin-bottom: $space-sm;

    h2 {
      @include visuallyHidden();
    }

    form, button {
      margin: 0;
      max-width: unset;
      width: auto;
    }

    button {
      background: none;
      color: $color-blue-dark;
      text-decoration: underline;
      border: 0;

      box-shadow: none;
      font-size: 0.9em;

      &:focus {
        @include focus(3px, 3px);
      }
    }

    @include sm {
      margin-bottom: 0;
    }
  }

  .canada-flag {
    width: 272px;
    margin-bottom: $space-sm;

    @include sm {
      width: 360px;
      margin-bottom: 0;
    }
  }
}
