{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('confirmation.title') }}</h1>

    <div>
        <p>
            {{ __('confirmation.intro') }}
        </p>
        <ul>
            <li>{{ __('form.fullname') }}:  <strong>{{ data.fullname }}</strong></li>
            <li>{{ __('form.email') }}: <strong>{{ data.email }}</strong></li>
            <li>{{ __('form.send_notifications') }}: <strong>{{ data.send_notifications }}</strong></li>

            {% if data.send_notifications == "Yes" %}
                <li>{{ __('form.notify_by') }}: <strong>{{ data.notify_type }}</strong></li>
            {% endif %}

        </ul>
    </div>

{% endblock %}
