{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('questions-1b.title') }}</h1>

    <div>
        <p>
            {{ __('questions-1b.intro') }}
        </p>


        <form method="post" class="form">

            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {% if data.partner_department_name !== "" %}
                {{ textInput('partner_department_name_trans', 'form.translation', {}, {text: __(data.partner_department_name)}) }}
            {% endif %}

            {% if data.partner_department_acronym !== "" %}
                {{ textInput('partner_department_acronym_trans', 'form.translation', {}, {text: __(data.partner_department_acronym)}) }}
            {% endif %}

            {% if data.partner_department_authority !== "" %}
                {{ textInput('partner_department_authority_trans', 'form.translation', {}, {text: __(data.partner_department_authority)}) }}
            {% endif %}
            
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
