div.error-list(role='alert')
    h3.error-list__header #{__('Please correct the errors on the page')}
    ol#formErrors.error-list__list
        each error in errors
            li.error-list__list-item
                a(class='error-list__link' href='#'+error.param) #{__(error.msg)}