<footer>
    <div class="page--container">
        <div class="footer-links">
            <ul>
                <li>
                    <a href={{ __('footer.link1') }}>{{ __('footer.link1.desc') }}</a>
                </li>
            </ul>
        </div>
        <div class="canada-wordmark">
            <img src="/img/wmms-blk.svg" alt="{{ __('wordmark.alt') }}">
        </div>
    </div>
</footer>