<script>
    var elements = document.querySelectorAll('a.button-link')
    for (var i = 0, len = elements.length; i < len; i++) {
        elements[i].addEventListener('keydown', function (e) {
            if (e.keyCode == 32) {
                e
                    .target
                    .click()
            }
        })
    }
</script>
<script>
    if (typeof Promise !== "function" && document.querySelector('details') !== null) 
        document.write('<script src="/js/details-element-polyfill.js"><\/script>');
</script>

{% if $env.GOOGLE_ANALYTICS %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{$env.GOOGLE_ANALYTICS}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());


      gtag('config', '{{$env.GOOGLE_ANALYTICS}}', {'anonymize_ip': true});
    </script>
{% endif %}