{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('agreement_1.title') }}</h1>

    <div>
        <p>
            {{ __('agreement_1.contact') }}
            <br>
            <strong>{{ data.researcher_name }}</strong>
            <br>
            <strong>{{ data.researcher_phone }}</strong>
            <br>
            <strong>{{ data.researcher_email }}</strong>
        </p>

        <p>
        {{ __('agreement_1.thanks') }}
        {{ __('agreement_1.who') }}
        {{ __('agreement_1.who2') }}
        </p>
    </div>

{% endblock %}
