{#
  - `property`: form value to look up
#}

{% macro defaultValue(property) %}
  {% if (property in data) and (data[property] !== "")  %}
    {{ data[property] }}{% else %}
    <span style="color:red; font-weight:bold">
      **{{ property }}**</span>{% endif %}{% endmacro %}
