{#
  - `property`: form value to look up
#}

{% macro defaultValue(property) %}

  {% if data[property] %}
    {{ data[property] }}
  {% else %}
    <span style="color:red; font-weight:bold">
      **{{ property }}**
    </span>
  {% endif %}

{% endmacro %}
