{#
  - `label`: text for the label
  - `divClasses`: any classes to be applied to the wrapper div (but not the input itself)
  - `hintText`: any text that appears above the input in light grey (ex. Optional)
#}
{% if errors %}
    {% set firstError = errors[errors.keys()[0]] %}
{% endif %}

{% macro textArea(label, divClasses, hintText, value, attributes) %}
    <div class="{{ 'has-error' if errors and errors[attributes.name] }} {{ divClasses }}">
        <label for="{{ attributes.name }}" id="{{ attributes.name }}__label">{{ __(label) }}</label>
        {% if hintText %}
            <span class="form-message">{{ hintText }}</span>
        {% endif %}
        {% if errors and errors[attributes.name] %}
            {{ validationMessage(errors[attributes.name].msg, attributes.name) }}
        {% endif %}
        <textarea class="{{ attributes.class }}" autocomplete="off" id="{{ attributes.id if attributes.id else attributes.name }}" {% if errors and errors[attributes.name] %} aria-describedby="{{ attributes.name + '-error' }}" {% endif %} autofocus="{{ true if errors and firstError.param === attributes.name else false }}" name="{{ attributes.name }}">{{ value }}</textarea>
    </div>
{% endmacro %}