{% macro radioButtons(key, values, value, question, errors, attributes) %}
    <div class="{{ 'has-error' if errors and errors[key] }}">
        <fieldset class="fieldset">
            <legend class="fieldset__legend">{{ __(question) }}</legend>
            <div class="multiple-choice multiple-choice--radios" id="{{ key }}">
                {% if errors and errors[key] %}
                    {{ validationMessage(errors[key].msg, key) }}
                {% endif %}
                {% for index, val in values %}
                    <div class="multiple-choice__item">
                        <input id="{{ key }}{{ val }}" name="{{ key }}" type="radio" value="{{ val }}" {% if value == val %} checked="checked" {% endif %} {% if errors and errors[key] %} aria-describedby="{{ key + '-error' }}" aria-invalid="true" {% endif %}>
                        <label for="{{ key }}{{ val }}">{{ __(val) }}</label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
{% endmacro %}