{% macro translation(property, language, otherLanguage, inputType = "textInput") %}
    {% if (property+language in data) and (data[property+language] !== "") %}
        {% if inputType == "textInput" %}
            {{ 
                textInput(
                    property + otherLanguage, 'form.translation', {}, 
                    {text: data[property+language]}
                ) 
            }}
        {% else %}
            {{ 
                textArea(
                    property + otherLanguage, 'form.translation', {}, 
                    {text: data[property+language]}
                ) 
            }}
        {% endif %}
    {% endif %}
{% endmacro %}
